.center {
  margin: auto;
  width: 75%;
  padding: 2%;
}

.stickyBot {
  position: fixed;
  bottom: 0;
  width: 100%
}

.center_text {
  text-align: center;
}

.button {
  background-color: whitesmoke; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.form{
  border: 3px solid burlywood;
  background-color: whitesmoke;
}

.icon{
  width: 10%;
  height: 5%;
  min-width: 200px;
  min-height: 100px;
}